NEXT_PUBLIC_SUPABASE_URL==https://pbbpdzsyahojbfekbofz.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBiYnBkenN5YWhvamJmZWtib2Z6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAwMjMyODgsImV4cCI6MjA5NTU5OTI4OH0.iOq3L9_600dnW501fv-FibNX2xtTfraUD-LKvydyUtU