NEXT_PUBLIC_SUPABASE_URL== https://ipwzzfpjseumauzmaxjn.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imlwd3p6ZnBqc2V1bWF1em1heGpuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAxMjE4MjMsImV4cCI6MjA5NTY5NzgyM30.61CJBUPKmppx_FpJbXahO1BTMadLmLFTV775JHexcKM